
.titlebar{
  -webkit-user-select: none;
  height: 22px;
  width: 100%;
  display: block;
  position: fixed;
  margin: auto;
  top: 1px;
  border:none;
  background: transparent;
  padding: auto;

}

button{
  z-index: 10;
  -webkit-app-region: no-drag;
}

.version{
  text-align: center;
  font-family: sans-serif;
  color: #CBCBCB;
  font-size: 11px;
}